# ASP.NET / .NET build files
bin/
obj/
uploads/
*.user
*.suo
*.vspscc
.vs/
.vscode/
*.dll
*.exe
*.db
*.pdb
*.log
*.claude

# Secrets / local settings
appsettings.Development.json
appsettings.Local.json
appsettings.*.json
secrets.json
Dangnhap.txt
appsettings.json

# Environment files
.env
